.bg-img {
	background-image:url('../images/personal.jpg');
	width: 100%;
	background-size: cover;
	background-position: center;    		
}

#greyBar {
	background-color: #eeeeee;
	height: 70px;
}

.iconMargin {
	margin-right: 15px;
}

#hobby {
	padding-top: 25px;
	padding-bottom: 70px;
}

#hobby div div p, #travel div div p {
	text-align: center;
}

#travel {
	background-color: #A5D2DA;
	padding-top: 40px;
	padding-bottom: 70px;
}

.travelRowPadding {
	padding-top: 50px;
}

#contact {
	background-color: #222222;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}

#contact h3 {
	color: white;
}

#contact a {
	color: white;
}